openapi: 3.2.0
info:
  title: SC//Fleet Manager Vms API
  description: 'The [OpenAPI Specification JSON Schema](https://api.scalecomputing.com/api/v2/openapi.json) can be imported into the API tool of your choice, such as Postman or Insomnia.


    This REST API allows programmatic role-based access to your SC//Fleet Manager data. Use the "Authorize" button to input API Keys [created in Fleet Manager](https://fleet.scalecomputing.com/organization/settings) and try out the API directly from your browser. Note: Each endpoint is role restricted in alignment with the UI access levels, which are detailed in the Fleet Manager [User Guide](https://scalecomputing.my.salesforce.com/sfc/p/#700000008AKW/a/4u0000019yBV/BT9qsos01XIXnbP85uBMLHE5AbtdRBhhxxjxGl3OCIU).'
  version: '2.0'
  contact: {}
servers:
- url: https://api.scalecomputing.com
  description: Fleet Manager API
tags:
- name: vms
  description: Virtual Machines on SC//HyperCore clusters
paths:
  /api/v2/vms:
    get:
      operationId: VmController_findAll
      parameters:
      - name: query
        required: false
        in: query
        schema:
          type: string
          default: ''
      - name: offset
        required: false
        in: query
        schema:
          default: 0
          type: number
          minimum: 0
      - name: limit
        required: false
        in: query
        description: limit is defaulted to 20 if not passed. The value can range between 1-200.
        schema:
          default: 20
          type: number
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PageDto'
                - properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/VmDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
      security:
      - API Key: []
      summary: Get a list of virtual machines
      tags:
      - vms
  /api/v2/vms/download:
    get:
      operationId: VmController_downloadCsv
      parameters: []
      responses:
        '200':
          description: Sample response of downloading csv data of VMs
          content:
            text/csv:
              schema:
                type: string
              example: 'id,name,description,state,tags,driveCapacity,driveAllocation,drivePercent,snapSize,memory,cores,ips,nodeId,nodeIp,clusterId,createdAt,updatedAt,clusterName,clusterOrganizationId

                3490adf5-d22d-4937-a5de-e2dbee0a9d6a,2012r2-final,,0,AAP,0,0,0.00,298694213632,4294967296,2,,,,3152fe9b-c093-49d2-b78d-398be79a0820,Tue Oct 15 2024 15:08:24 GMT+0000 (Coordinated Universal Time),Tue Oct 22 2024 17:00:00 GMT+0000 (Coordinated Universal Time),Walt''s Laboratory 2.0,6595b87d04d5837bebd7547d'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
      security:
      - API Key: []
      summary: Get a .csv of virtual machines
      tags:
      - vms
  /api/v2/vms/{id}:
    get:
      operationId: VmController_findOne
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PageDto'
                - properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/VmDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
      security:
      - API Key: []
      summary: Get a specific virtual machine
      tags:
      - vms
components:
  schemas:
    PageMetaDto:
      type: object
      properties:
        offset:
          type: number
        limit:
          type: number
        total:
          type: number
      required:
      - offset
      - limit
      - total
    VmDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          exclude: true
        name:
          type: string
          example: store37-foo-vm
        clusterId:
          type: uuid
          format: uuid
        cluster:
          type:
          - object
          - 'null'
          filter:
            property: name
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              example: Scale01 Single Node
            organizationId:
              anyOf:
              - type: string
              - type: 'null'
              example: 61ab80248069550014d7c775
        nodeIp:
          type:
          - string
          - 'null'
          example: 173.30.0.100
        nodeId:
          type:
          - string
          - 'null'
          example: 07793300-aaaa-4444-12ab-0a812cfdf8df
        description:
          type: string
          example: 'Payment processing for store #37'
        state:
          type: number
          example: '0'
          map:
            'on': 1
            'off': 0
        ips:
          type: string
        tags:
          type: string
        driveCapacity:
          type: bigint
          format: int64
        driveAllocation:
          type: bigint
          format: int64
        drivePercent:
          type: number
        memory:
          type:
          - bigint
          - 'null'
          format: int64
        cores:
          type:
          - number
          - 'null'
        snapSize:
          type:
          - integer
          - 'null'
          format: int64
        createdAt:
          type: date
          example: '2026-08-25T03:23:16.383Z'
        updatedAt:
          type: date
          example: '2026-08-25T03:23:16.383Z'
      required:
      - id
      - name
      - clusterId
      - cluster
      - nodeIp
      - nodeId
      - description
      - state
      - ips
      - tags
      - driveCapacity
      - driveAllocation
      - drivePercent
      - memory
      - cores
      - snapSize
      - createdAt
      - updatedAt
    PageDto:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PageMetaDto'
        items:
          type: array
          items:
            type: string
      required:
      - meta
      - items
    BadRequestException:
      type: object
      properties:
        statusCode:
          type: number
          default: 400
        message:
          type: string
        error:
          type: string
      required:
      - statusCode
      - message
      - error
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: api-key
