openapi: 3.2.0
info:
  title: SC//Fleet Manager API Keys API
  description: 'The [OpenAPI Specification JSON Schema](https://api.scalecomputing.com/api/v2/openapi.json) can be imported into the API tool of your choice, such as Postman or Insomnia.


    This REST API allows programmatic role-based access to your SC//Fleet Manager data. Use the "Authorize" button to input API Keys [created in Fleet Manager](https://fleet.scalecomputing.com/organization/settings) and try out the API directly from your browser. Note: Each endpoint is role restricted in alignment with the UI access levels, which are detailed in the Fleet Manager [User Guide](https://scalecomputing.my.salesforce.com/sfc/p/#700000008AKW/a/4u0000019yBV/BT9qsos01XIXnbP85uBMLHE5AbtdRBhhxxjxGl3OCIU).'
  version: '2.0'
  contact: {}
servers:
- url: https://api.scalecomputing.com
  description: Fleet Manager API
tags:
- name: api-keys
  description: Manage Fleet Manager API access independently of users
paths:
  /api/v2/api-keys:
    post:
      operationId: ApiKeyController_create
      parameters: []
      requestBody:
        required: true
        description: payload to create api token
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyDto'
            examples:
              sample_VMViewer:
                description: Sample payload with VM Viewer role
                value:
                  name: my test api key for vm viewer
                  role: vmView
              sample_ClusterViewer:
                description: Sample payload with Cluster Viewer role
                value:
                  name: my test Cluster Viewer API Key
                  role: clusterView
              sample_ClusterAdmin:
                description: Sample payload with Cluster Admin role
                value:
                  name: my test api key for cluser admin
                  role: clusterAdmin
              sample_Admin:
                description: Sample payload with admin role
                value:
                  name: my test api key
                  role: admin
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
      security:
      - API Key: []
      summary: Create an API Key
      tags:
      - api-keys
    get:
      operationId: ApiKeyController_findAll
      parameters:
      - name: query
        required: false
        in: query
        schema:
          type: string
          default: ''
      - name: offset
        required: false
        in: query
        schema:
          default: 0
          type: number
          minimum: 0
      - name: limit
        required: false
        in: query
        description: limit is defaulted to 20 if not passed. The value can range between 1-200.
        schema:
          default: 20
          type: number
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PageDto'
                - properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/ApiKeyDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
      security:
      - API Key: []
      summary: Get a list of API Keys
      tags:
      - api-keys
  /api/v2/api-keys/{id}:
    delete:
      operationId: ApiKeyController_remove
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
      security:
      - API Key: []
      summary: Delete an API Key
      tags:
      - api-keys
components:
  schemas:
    PageMetaDto:
      type: object
      properties:
        offset:
          type: number
        limit:
          type: number
        total:
          type: number
      required:
      - offset
      - limit
      - total
    ApiKeyDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          exclude: true
        name:
          type: string
          example: my api key
        organizationId:
          type:
          - string
          - 'null'
          example: 61ab80248069550014d7c775
          exclude: true
        tokenSuffix:
          type: string
          example: 3nK8
        role:
          type: string
          example: clusterViewer
        createdAt:
          type: date
          format: date-time
          example: '2026-08-25T03:23:15.883Z'
        lastUsed:
          type:
          - date
          - 'null'
          format: date-time
          example: '2026-08-25T03:23:15.883Z'
        cluster:
          type:
          - object
          - 'null'
      required:
      - id
      - name
      - tokenSuffix
      - role
      - createdAt
    PageDto:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PageMetaDto'
        items:
          type: array
          items:
            type: string
      required:
      - meta
      - items
    CreateApiKeyDto:
      type: object
      properties:
        name:
          type: string
        role:
          type: string
        isSystemToken:
          type: object
          default: false
      required:
      - name
      - role
      - isSystemToken
    BadRequestException:
      type: object
      properties:
        statusCode:
          type: number
          default: 400
        message:
          type: string
        error:
          type: string
      required:
      - statusCode
      - message
      - error
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: api-key
