openapi: 3.2.0
info:
  title: SC//Fleet Manager Conditions API
  description: 'The [OpenAPI Specification JSON Schema](https://api.scalecomputing.com/api/v2/openapi.json) can be imported into the API tool of your choice, such as Postman or Insomnia.


    This REST API allows programmatic role-based access to your SC//Fleet Manager data. Use the "Authorize" button to input API Keys [created in Fleet Manager](https://fleet.scalecomputing.com/organization/settings) and try out the API directly from your browser. Note: Each endpoint is role restricted in alignment with the UI access levels, which are detailed in the Fleet Manager [User Guide](https://scalecomputing.my.salesforce.com/sfc/p/#700000008AKW/a/4u0000019yBV/BT9qsos01XIXnbP85uBMLHE5AbtdRBhhxxjxGl3OCIU).'
  version: '2.0'
  contact: {}
servers:
- url: https://api.scalecomputing.com
  description: Fleet Manager API
tags:
- name: conditions
  description: Issues reported by SC//HyperCore clusters
paths:
  /api/v2/conditions:
    get:
      operationId: ClusterConditionsController_findAll
      parameters:
      - name: query
        required: false
        in: query
        schema:
          type: string
          default: ''
      - name: offset
        required: false
        in: query
        schema:
          default: 0
          type: number
          minimum: 0
      - name: limit
        required: false
        in: query
        description: limit is defaulted to 20 if not passed. The value can range between 1-200.
        schema:
          default: 20
          type: number
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PageDto'
                - properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/ClusterConditionDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
      security:
      - API Key: []
      summary: Get a list of Conditions
      tags:
      - conditions
  /api/v2/conditions/{id}:
    get:
      operationId: ClusterConditionsController_findOne
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterConditionDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
      security:
      - API Key: []
      summary: Get a specific Condition by Id
      tags:
      - conditions
components:
  schemas:
    PageMetaDto:
      type: object
      properties:
        offset:
          type: number
        limit:
          type: number
        total:
          type: number
      required:
      - offset
      - limit
      - total
    ClusterConditionDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          exclude: true
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        identifier:
          type: string
          exclude: true
          example: condition.alerts.unconfigured-3fa85f64-5717-4562-b3fc-2c963f66afa6
        cluster:
          type:
          - object
          - 'null'
          filter:
            property: name
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              example: Scale01 Single Node
            organizationId:
              anyOf:
              - type: string
              - type: 'null'
              example: 61ab80248069550014d7c775
            nodeCount:
              type: number
              example: 3
            onlineStatus:
              anyOf:
              - type: string
              - type: 'null'
              example: online
            lastCheckin:
              anyOf:
              - type: string
                format: date-time
              - type: 'null'
              example: '2026-08-25T03:23:15.228Z'
        name:
          type: string
          example: condition.alerts.unconfigured
        description:
          type:
          - string
          - 'null'
          example: Alerts have not been configured
        value:
          type:
          - string
          - 'null'
          example: 'true'
          exclude: true
        severity:
          type: number
          example: 4
          map:
            critical: 2
            warning: 4
            notice: 5
            info: 6
        severityLevel:
          type: string
          example: INFO
          enum:
          - INFO
          - NOTICE
          - WARNING
          - CRITICAL
        setDate:
          type: date
          format: date-time
          example: '2026-08-25T03:23:15.229Z'
        nodeLANIPs:
          type:
          - string
          - 'null'
          example: 10.100.15.31, 10.100.15.32
        createdAt:
          type: date
          format: date-time
          example: '2026-08-25T03:23:15.230Z'
        updatedAt:
          type: date
          format: date-time
          example: '2026-08-25T03:23:15.230Z'
      required:
      - id
      - identifier
      - cluster
      - name
      - description
      - value
      - severity
      - severityLevel
      - setDate
      - nodeLANIPs
      - createdAt
      - updatedAt
    PageDto:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PageMetaDto'
        items:
          type: array
          items:
            type: string
      required:
      - meta
      - items
    BadRequestException:
      type: object
      properties:
        statusCode:
          type: number
          default: 400
        message:
          type: string
        error:
          type: string
      required:
      - statusCode
      - message
      - error
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: api-key
