openapi: 3.2.0
info:
  title: SC//Fleet Manager Organization Activities API
  description: 'The [OpenAPI Specification JSON Schema](https://api.scalecomputing.com/api/v2/openapi.json) can be imported into the API tool of your choice, such as Postman or Insomnia.


    This REST API allows programmatic role-based access to your SC//Fleet Manager data. Use the "Authorize" button to input API Keys [created in Fleet Manager](https://fleet.scalecomputing.com/organization/settings) and try out the API directly from your browser. Note: Each endpoint is role restricted in alignment with the UI access levels, which are detailed in the Fleet Manager [User Guide](https://scalecomputing.my.salesforce.com/sfc/p/#700000008AKW/a/4u0000019yBV/BT9qsos01XIXnbP85uBMLHE5AbtdRBhhxxjxGl3OCIU).'
  version: '2.0'
  contact: {}
servers:
- url: https://api.scalecomputing.com
  description: Fleet Manager API
tags:
- name: organization-activities
  description: Audit log of many user and system-generated events in Fleet Manager
paths:
  /api/v2/organization-activities:
    get:
      operationId: OrganizationActivityController_findAll
      parameters:
      - name: query
        required: false
        in: query
        schema:
          type: string
          default: ''
      - name: offset
        required: false
        in: query
        schema:
          default: 0
          type: number
          minimum: 0
      - name: limit
        required: false
        in: query
        description: limit is defaulted to 20 if not passed. The value can range between 1-200.
        schema:
          default: 20
          type: number
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PageDto'
                - properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/OrganizationActivityDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
      security:
      - API Key: []
      summary: Get a list of organization activities
      tags:
      - organization-activities
components:
  schemas:
    PageMetaDto:
      type: object
      properties:
        offset:
          type: number
        limit:
          type: number
        total:
          type: number
      required:
      - offset
      - limit
      - total
    OrganizationActivityDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          exclude: true
        organizationId:
          type: string
          example: 61ab80248069550014d7c775
          exclude: true
        resourceId:
          type: string
          example: 61ab80248069550014d7c775
          exclude: true
        category:
          type: string
          example: cluster
          exclude: true
        type:
          type: string
          example: cluster-update
          exclude: true
        message:
          type: string
          example: cluster with id 61ab80248069550014d7c775 was updated
          exclude: true
        createdByName:
          type: string
          example: Jane Smith
          exclude: true
        createdAt:
          type: date
          example: '2026-08-25T03:23:15.726Z'
        createdById:
          type:
          - string
          - 'null'
      required:
      - id
      - organizationId
      - resourceId
      - category
      - type
      - message
      - createdByName
      - createdAt
    PageDto:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PageMetaDto'
        items:
          type: array
          items:
            type: string
      required:
      - meta
      - items
    BadRequestException:
      type: object
      properties:
        statusCode:
          type: number
          default: 400
        message:
          type: string
        error:
          type: string
      required:
      - statusCode
      - message
      - error
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: api-key
